body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: radial-gradient(circle at 47.4% 64.74%, #544877 0, #2a2468 25%, #040e41 50%, #00001f 75%, #000000 100%);
  height: 100vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  color: #fff;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 40px;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.hero-section {
  padding: 10px;
}

.wrapper a {
  color: #fff;
}

.hero-section img {
  display: flex;
  margin-left: 650px;
  width: 50px;
  height: 50px;
}

.hero-section h3 {
  margin-left: 40%;
  margin-right: 40%;
  font-size: 20px;
  color: #fff;
}

.hero-section p {
  justify-content: center;
  font-size: 9px;
  color: #bebdbd;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  
}

.hero-section h1 {
  font-size: 40px;
  font-weight: bold;
  max-width: 800px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}


.text-gradient {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(180deg, #0a011b, #100133);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 30%;
  margin-right: 30%;
}

#description {
  color: rgb(245, 250, 250);
  font-size: 18px;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
  display: flex;
  text-align: center;
}
